.gallery__card-grid_bottom{
    display: grid;
    grid-template-columns:1fr 255px 1fr;
    grid-template-rows: 285px;
    margin-top: 44px;
    gap: 33px;
}

@media(max-width:768px){
    .gallery__card-grid_bottom{
        grid-template-columns: repeat(1, 355px);
        margin: 0 auto;
        margin-top: 44px;
    }
}