.contents-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 476px;
    height: 625px;
    padding: 48.5px 0 40px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background-color: #fff;
}

@media(max-width: 768px) {
    .contents-card {
        width: 353px;
        height: 578px;
    }
}
