.gallery__cards-grid_top{
    display: grid;
    grid-template-columns: repeat(4, 225px);
    grid-template-rows: 285px;
    gap: 33px;
    margin: 0 auto;
}

@media(max-width:768px){
    .gallery__cards-grid_top{
        grid-template-columns: repeat(1, 355px);
        grid-template-rows: repeat(4, 355px);
    }
}