.features__line-image{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media(max-width:768px){
  .features__line-image{
    display: flex;
    width: 232px;
    height: 160px;
    margin: 0 auto;
    bottom:50px;
    right: auto;
  }
}