.partners__brands{
    display: grid;
    grid-template-columns: repeat(5, 60px) 150px;
    grid-template-rows: 60px;
    gap: 74px;
    margin-bottom: 50px;
}

@media(max-width:768px){
    .partners__brands{
        grid-template-columns: repeat(3, 60px) ;
}
}