.menu-list{
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style-type: none;
  gap: 40px;
}

@media(max-width:768px){
  .menu-list{
    display: absolute;
    opacity: 0;
    width: 0;
  }
}
