.cta__content{
    display: grid;
    height: 370px;
    max-width: 1219px ;
    grid-template-columns: repeat(2, 1fr);
    background: #343434;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

@media(max-width:768px){
    .cta__content{
        grid-template-columns: repeat(1,auto);
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}

@media(max-width:549px){
    .cta__content{
        width: 100%;
    }
}