.footer__content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 199px;
}

@media(max-width:768px){
    .footer__content{
        grid-template-columns: repeat(1,auto);
    }
}