.cta__image{
    width: 585px;
    height: 370px;
}

@media(max-width:768px){
    .cta__image{
        width: 480px;
        margin: 0 auto;
    }
}

@media(max-width:549px){
    .cta__image{
        display: flex;
        margin-top: 60px;
    }
}